/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 300px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.spinning-icon {
  animation: spin 1s linear infinite;
  padding: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 12px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.button {
  border: 0;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: bisque;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.options {
  font-size: 14px;
  display: flex;
  border: 0;
  font-style: italic;
  background-color: transparent;
  cursor: pointer;
}
.options:hover {
  text-decoration: underline;
}
.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}
